.img-fluid {
    max-width: 50%;
  }

.carousel-inner{
  text-align: center;

}

  img.logo{
    height: 50px;
    width: 50px;
    
    
  }
  .centered-link {
    text-align: center;
}

.list-group-item {
    text-align: left; /* Asegura que los nombres de las películas no se centren */
}

